body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-description {
    background: rgb(231, 35, 35);
    margin: 20px 40px 20px 40px;
    padding: 40px 10px 5px 3px;
}
.block-2 {
    background: rgb(41, 218, 41);
    margin: 20px 10px 10px 20px;
    padding: 40px 10px 10px 20px;
}
li {
    color: rgb(58, 196, 58);
}
h2 {
    color: rgb(207, 15, 15);
}
.description {
    color: rgb(19, 19, 224);
}
